.error{
  color:darkred;
  border-radius: 12px;
  border: 2px solid darkred;  
  box-shadow: 2px 2px 2px gray;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.succesful{
  color:olivedrab;
  border-radius: 12px;
  border: 2px solid olivedrab;  
  box-shadow: 2px 2px 2px gray;
  padding: 15px;
  margin: 10px;
  text-align: center;
}